@page
@model PhotosModel
@{
    ViewData["Title"] = "photos";
}

<div>
    <ul class="photos">
        @{
            foreach (string str in Model.ImagesToDisplay)
            {
                <li class="photos__photo"><img src="@str" /></li>
            }
        }
    </ul>
</div>